
 
.fa_font-awesome-logo {padding: 0 3px;}
 
.fa_font-awesome-logo:before {
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased; /* Better Font Rendering =========== */
		color: #1fa67a !important;
		content: "e601" !important;
		font-family: 'bss4wp' !important;
		font-style: normal;
		font-variant: normal;
		font-weight: normal;
		line-height: 1;
		speak: none;
		text-transform: none;
}
 