html, body {min-height: 100%;}

body {

	background-color: #faf4f4;
	color: #868686;
	line-height: 1.5;
	word-wrap: break-word;
	-ms-word-wrap: break-word;
 }



.site-content {
	clear: both;
	position: relative;
	overflow: hidden;
}
