
h1,h2,h3,h4 {
	border-bottom: 1px dashed #ccc;
	color: #000;
	font-family: 'Dancing Script', cursive;
	font-weight: normal;
	padding-bottom: 38px;
	text-shadow: 2px 2px 0px #ccc;
 }
 
h1, .h1 {font-size: 52px;}
 
h2, .h2 {font-size: 46px;}
 
h3, .h3 {font-size: 40px;}
 
h4, .h4 {font-size: 38px;}
 
a {text-decoration: none;}